<div class="flex flex-1 flex-col items-center justify-center h-100">
  <div class=" bg-white shadow-md rounded-lg px-6 py-6 container max-w-md">
    <h1 class="text-2xl font-bold text-center mb-4 text-gray-400">Edit Budget</h1>
    <%= render "form" %>
  </div>
</div>
