<div class="container mx-auto mt-4">
  <h1 class="text-2xl font-semibold">Budgets</h1>

  <div class="container mx-auto px-4 py-8">

    <br>
    <h2>Form placement is temporary</h2>
    <%= render "form" %>
    <div class="text-right mb-4">
      <%= link_to "Add New Budget",
      new_budget_path,
      class:
        "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out" %>
    </div>

    <turbo-frame id="budgets">
      <%= render "table" %>
    </turbo-frame>

  </div>
</div>
