<div class="mx-auto mt-4">

  <h1 class="text-2xl font-semibold">Budgets</h1>

  <div class="mx-auto px-4 py-8">
    <div class="flex flex-row justify-center align-middle h-full gap-4">
      <div class="flex-1">
        <%= render "category_distribution_details" %>
      </div>
      <div class="flex-1">
        <%= render "category_distribution" %>
      </div>
    </div>

    <turbo-frame id="budgets">
      <%= render "table" %>
    </turbo-frame>
  </div>
</div>
