<div class="flex gap-4">
  <% if user_signed_in? %>
    <!-- Show only if user is signed in -->
    <span><%= button_to "Sign out",
      destroy_user_session_path,
      method: :delete,
      class: "hover:text-red-400" %></span>
  <% else %>
    <!-- Show only if user is not signed in -->
    <span><%= link_to "Sign in", new_user_session_path, class: "hover:text-blue-400" %></span>
    <span><%= link_to "Sign up", new_user_registration_path, class: "hover:text-blue-400" %></span>
  <% end %>
</div>
