<div class="flex gap-4">
  <% if user_signed_in? %>
    <!-- Show only if user is signed in -->
    <%= button_to destroy_user_session_path,
      method: :delete,
      class: "flex flex-row gap-2 hover:text-red-400" do %>
      <%= render "icons/sign_out" %>
      <span>Sign out</span>
    <% end %>

  <% else %>
    <!-- Show only if user is not signed in -->
    <%= link_to new_user_session_path, class: "flex flex-row gap-2  hover:text-blue-400" do %>
      <%= render "icons/sign_in" %>
      <span>Sign in</span>
    <% end %>
  <% end %>
</div>
