<div class="bg-gray-800 text-white p-4" id="navigation">
  <div class="flex justify-between items-center w-full">
    <%= render 'shared/logo_link' %>
    <%= render 'shared/navigation_links' %>
    <%= render 'shared/auth_links' %>
  </div>
</div>
