<div class="flex gap-4">
  <span><%= link_to "Budgets", budgets_path, class: "hover:text-blue-400" %></span>
  <span><%= link_to "Accounts", accounts_path, class: "hover:text-blue-400" %></span>
  <span><%= link_to "Transactions", transactions_path, class: "hover:text-blue-400" %></span>
</div>
